@import "./../../../styles/variables.scss";
$lineColor: #eeeeee;
$textColor: #121212;
$inputColorLine: #999999;
$buttonColorGradient1: #0ec261;
$buttonColorGradient2: #039f67;

.order-info {
  position: absolute;
  display: flex;
  border-left: 1px solid $lineColor;
  width: 0px;
  height: 100%;
  right: 384px;
  top: 125px;
}
.order-info__order {
  position: absolute;
  width: 225px;
  height: 22px;
  left: 85px;
  top: 30px;

  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: $textColor;
}

ul.order {
  list-style-type: none;
  margin-top: 94px;
}

.order__city {
  position: relative;
}

.order__point {
  border-bottom: 1px dotted #c2c2c2;
  position: relative;
  padding: 0;
  margin-bottom: 5px;
}
.order__price {
  margin-top: 32px;
  white-space: nowrap;
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121212;
}

ul.order li span {
  background-color: #fff;
  margin: 0;
}

ul.order li span.order__text,
ul.order li span.order__info {
  bottom: -5px;
  white-space: nowrap;
}

ul.order span.order__text {
  position: relative;
  margin-right: 12.5em;
  padding-right: 2px;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;
}

ul.order span.order__info {
  position: absolute;
  right: 0;
  padding-left: 2px;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $inputColorLine;
}
.test {
  list-style-type: none;
  padding: 0;
}

.order-info__price {
  position: absolute;
  display: block;
  margin-top: 32px;
  margin-left: 42px;
  white-space: nowrap;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121212;
}

.order-info__button {
  width: 287px;
  height: 48px;
  right: 65px;
  background: linear-gradient(
    90deg,
    $buttonColorGradient1 2.61%,
    $buttonColorGradient2 112.6%
  );
  background-blend-mode: darken;
  border-radius: 8px;
  border: none;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  color: $lineColor;
  z-index: 500;
}
.order-info__button.order {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}
.order-info__button.order:disabled,
button[disabled] {
  border: none;
  background: #eeeeee;
  color: #ffffff;
}
@media screen and (max-width: $desktop_min) {
}
@media screen and (max-width: $tablet) {
  .order-info {
    border-left: none;
    right: 0px;
    left: 90px;
    top: 525px;
  }
  .order-info__order {
    width: 0px;
    height: 0px;
    left: 37px;
    white-space: nowrap;
  }
}
@media screen and (max-width: $mobile) {
  .order-info {
    left: 0px;
  }
  .order-info__button {
    width: 80vw;
  }
}
