$desktop_min: 1439px;
@font-face {
font-family: 'Roboto-Light';
src: local('Roboto'), url(./../../fonts/Roboto-Light.ttf) format('truetype');
}
@font-face {
font-family: 'Roboto-Medium';
src: local('Roboto'), url(./../../fonts/Roboto-Medium.ttf) format('truetype');
}
.slider-block__text1{
    position: absolute;
    width: 421px;
    height: 47px;
    left: 96px;
    top: 237px;
    
    font-family: Roboto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
  }
  .slider-block__text2{
    position: absolute;
    width: 495px;
    height: 72px;
    left: 96px;
    top: 292px;
  
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    color: #EEEEEE;
  }
  .slider-block__button{
    position: absolute;
    width: 164px;
    height: 48px;
    left: 96px;
    top: 396px;
    background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
    border-radius: 4px;
    border: none;
  
    font-family: Roboto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #EEEEEE;
  }
  .slider-block__button.color__slide2{
    background: linear-gradient(90deg, #132949 0%, #0C7B67 100%);
  }
  .slider-block__button.color__slide3{
    background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
  }
  .slider-block__button.color__slide4{
    background: linear-gradient(90deg, #281349 0%, #720C7B 100%);
  }

@media screen and (max-width: $desktop_min) { 
.slider-block__text1{
    width: 282px;
    height: 75px;
    left: 64px;
    top: 277px;
    font-size: 32px;
    line-height: 37px;  
    
}
.slider-block__text2{
    width: 282px;
    height: 110px;
    left: 64px;
    top: 360px;  
    font-size: 22px;
}
.slider-block__button{
    left: 64px;
    top: 502px;
    } 
} 