@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto'), url(./../../fonts/Roboto-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto'), url(./../../fonts/Roboto-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto'), url(./../../fonts/Roboto-Regular.ttf) format('truetype');
  }
  
  $textColor: #121212;
  $lineColor: #EEEEEE;
  $buttonColorGradient1: #0EC261;
  $buttonColorGradient2: #039F67;
  $inputColorLine: #999999;
// .tabs-block{
//     display: flex;
    
// }

.tabs-block__line{
position: absolute;
width: 672px;
height: 0px;
left: 1056px;
// margin-top: 128px;
// margin-bottom: 128px;
/* Gray_light */
border-bottom: 128px;
border: 1px solid $lineColor;
transform: rotate(90deg);

}
.tabs-block__tab{
    display: flex;
}
.tabs-block__tab__vector{
    height: 8px;
    width: 6px;
    margin-top: 4.5px;
    margin-left: 16px;
    display: block;
    background-color: #999999;
    mask-image: url(../../img/Icons/OrderTabVector.svg);
}
.tabs-blok__step1__position{

}
.tabs-blok__step1__position__city{
    position: absolute;
    width: 38px;
    height: 16px;
    left: 178px;
    top: 160px;
    
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $textColor;
}
// .tabs-blok__step1__position__city-input{
//     position: absolute;
//     width: 224px;
//     // height: 0px;
//     left: 224px;
//     top: 158px;
//     border: none;
//     border-bottom: 1px solid $inputColorLine;
// }
// .tabs-blok__step1__position__input{
//   margin: 20px auto;
//   position: relative;
//   width: 400px;
//   font-size: 60px;
  
//   input {
//     width: 100%;
//     padding: 10px;
//     box-sizing: border-box;
//     outline: none;
//     border: 2px solid #aaa;
//     font-size: 60px;
//   }

//   button[type="reset"] {
//     position: absolute;
//     top: 10px;
//     bottom: 10px;
//     right: 10px;
//     color: #666;
//     border: 0;
//     display: none;
//     padding: 0 10px;
//     border-radius: 50%;
//     background-color: red;
//     transition: background 200ms;
//     outline: none;

//     &:hover {
//       background-color: #eee; 
//     }
//   }

//   input:valid ~ button[type="reset"] {
//     display: block;
//   }  
// }
.tabs-blok__step1__position__point{
    position: absolute;
    width: 91px;
    height: 16px;
    left: 128px;
    top: 192px;
    white-space: nowrap;
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $textColor;
}
// .tabs-blok__step1__position__point-input{
//     position: absolute;
//     width: 224px;
//     // height: 0px;
//     left: 224px;
//     top: 190px;
//     border: none;
//     border-bottom: 1px solid $inputColorLine;
// }
.tabs-blok__step1__position__map{
    position: absolute;
    width: 117px;
    height: 16px;
    left: 128px;
    top: 256px;
    white-space: nowrap;
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $textColor;
}
.tabs-blok__step1__position__mapOrder{
    position: absolute;
    width: 736px;
    height: 352px;
    left: 128px;
    top: 288px;
}

.tabs-blok__step1__order-info{
    position: absolute;
    border-left: 1px solid $lineColor;
    width: 0px;
    height: 100%;
    // left: 1056px;
    right: 384px;;
    top: 125px;
}
.tabs-blok__step1__order-info__order{
    position: absolute;
    width: 225px;
    height: 22px;
    left: 85px;
    top: 30px;
    
    font-family: Roboto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: $textColor;
}
.tabs-blok__step1__order-info__point{
    position: absolute;
    width: 91px;
    height: 16px;
    left: 32px;
    top: 94px;
    
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $textColor;
    white-space: nowrap;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px dotted blue;
        top: 12px
    }  
    
}
.tabs-blok__step1__order-info__city-point{
    position: absolute;
    width: 91px;
    height: 16px;
    left: 200px;
    top: 78px;
    white-space: nowrap;
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $inputColorLine;
    
}
// .test{
//   &:before {
//         content: "";
//         position: absolute;
//         width: 100%;
//         border-bottom: 1px solid blue;}  
// }
.tabs-blok__step1__order-info__price{
    position: absolute;
    width: 198px;
    height: 16px;
    left: 32px;
    top: 142px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $textColor;
}
.tabs-blok__step1__order-info__button{
    position: absolute;
    width: 287px;
    height: 48px;
    left: 32px;
    top: 190px;
    background: linear-gradient(90deg, $buttonColorGradient1 2.61%, $buttonColorGradient2 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
    border: none;
    font-family: Roboto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: $lineColor;
}
.tabs-block__step2__radio{
    position: absolute;
    // width: 117px;
    // height: 16px;
    left: 128px;
    top: 162px;
}
// .tabs-block__step2__radio input{
//     background-color: #fff;
//     &:checked{
//         border: 3px solid #0ec261;
//         background-color: red;
//     }
// }
// .tabs-block__step2__radio-label{
//     padding-right: 16px;
//     font-family: Roboto-Light;
//     font-style: normal;
//     font-weight: 300;
//     font-size: 14px;
//     line-height: 16px;
//     &:active{
//       color: red;
//     }
// }
.tabs-block__step2__radio input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}
.tabs-block__step2__radio input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 16px;
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    cursor: pointer;
}
.tabs-block__step2__radio input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 12px;
    height: 12px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
.tabs-block__step2__radio input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
.tabs-block__step2__radio input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    // border: 5px solid $buttonColorGradient1;
}
.tabs-block__step2__radio input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: -2px;
    top: -2px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid $buttonColorGradient1;
    color: $textColor;
    // background-color: $buttonColorGradient1;
}
.tabs-block__step2__radio input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label:after {
        color: $textColor;
    
}
.tabs-block__step2__radio input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
.tabs-block__step2__radio input[type="radio"]:checked + label:after {
    opacity: 1;
}

.tabs-block__step2-row{
    display: grid;
    grid-template-columns: 0fr 1fr;
    // grid-gap: 80px 150px;
    margin-top: 96px;
    margin-left: 128px;
    justify-content: space-between;
}
.tabs-block__step2-item{
    width: 369px;
    height: 224px;
    // text-align: center;
    // font-family: 'Montserrat', sans-serif;
    // font-weight: bold;
    color: #444;
    border: 1px solid grey;
    // border-left: 1px solid grey;
	// border-right: 0.5px solid grey;
	// border-top: 1px solid grey;
	// border-bottom: 1px solid grey;
    &:hover{
        border: 1px solid $buttonColorGradient1;
    }
    
    
}
.tabs-block__step2-item__name{
    position: absolute;
    margin-left: 16px;
    margin-top: 16px;
    font-family: Roboto-Regular;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #121212;

}
.tabs-block__step2-item__price{
    position: absolute;
    margin-left: 16px;
    margin-top: 38px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */


/* Gray */

color: #999999;
}
.tabs-block__step2-item__img{
    margin-top: 92px;
    margin-left: 97px;
}