@import "./../../styles/variables.scss";
@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto"), url(./../../fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto"), url(./../../fonts/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto"), url(./../../fonts/Roboto-Regular.ttf) format("truetype");
}

$textColor: #121212;
$lineColor: #eeeeee;
$buttonColorGradient1: #0ec261;
$buttonColorGradient2: #039f67;
$inputColorLine: #999999;

.tabs-block__line {
  position: absolute;
  width: 672px;
  height: 0px;
  left: 1056px;
  border-bottom: 128px;
  border: 1px solid $lineColor;
  transform: rotate(90deg);
}
.tabs-block__tab {
  display: flex;
}
.tabs-block__tab__vector {
  height: 8px;
  width: 6px;
  margin-top: 4.5px;
  margin-left: 16px;
  display: block;
  background-color: #999999;
  mask-image: url(../../img/Icons/OrderTabVector.svg);
}
.tabs-blok__step1__position {
}
.tabs-blok__step1__position__city {
  position: absolute;
  width: 38px;
  height: 16px;
  left: 178px;
  top: 160px;

  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;
}

.tabs-blok__step1__position__point {
  position: absolute;
  width: 91px;
  height: 16px;
  left: 128px;
  top: 192px;
  white-space: nowrap;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;
}
.tabs-blok__step1__position__map {
  position: absolute;
  width: 117px;
  height: 16px;
  left: 128px;
  top: 256px;
  white-space: nowrap;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;
}
.tabs-blok__step1__position__mapOrder {
  position: absolute;
  width: 736px;
  height: 352px;
  left: 128px;
  top: 288px;
  z-index: -1;
}

.tabs-blok__step1__order-info__button {
  position: absolute;
  width: 287px;
  height: 48px;
  right: 65px;
  margin-top: 128px;
  background: linear-gradient(
    90deg,
    $buttonColorGradient1 2.61%,
    $buttonColorGradient2 112.6%
  );
  background-blend-mode: darken;
  border-radius: 8px;
  border: none;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  color: $lineColor;
  z-index: 500;
}
.tabs-blok__step1__order-info__button button:disabled,
button[disabled] {
  border: none;
  background: #eeeeee;
  color: #ffffff;
}

.tabs-block__step2__radio {
  position: absolute;
  left: 128px;
  top: 162px;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-bottom: 8px;
  padding-right: 16px;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  cursor: pointer;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: -2px;
  top: -2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 3px solid $buttonColorGradient1;
  color: $textColor;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label:after {
  color: $textColor;
}
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="radio"]:checked + label:after {
  opacity: 1;
}

.tabs-block__step2-row {
  display: grid;
  grid-template-columns: 0fr 1fr;
  margin-top: 96px;
  margin-left: 128px;
  justify-content: space-between;
}
.tabs-block__step2-item {
  width: 369px;
  height: 224px;
  color: #444;
  border: 1px solid grey;
  background-color: white;
  &:hover {
    border: 1px solid $buttonColorGradient1;
  }
  &:focus {
    border: 1px solid $buttonColorGradient1;
  }
}

.tabs-block__step2-item__name {
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
}
.tabs-block__step2-item__price {
  position: absolute;
  margin-left: 16px;
  margin-top: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.tabs-block__step2-item__img {
  margin-top: 92px;
  margin-left: 97px;
  width: 256px;
  height: 116.36px;
}
.tabs-block__step3__radio {
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 128px;
  top: 387px;
}
.tabs-block__step3-text {
  margin-bottom: 16px;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.tabs-block__step3__date {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 100%;
  left: 128px;
  top: 240px;
}

.tabs-block__step3__checkbox {
  display: flex;
  flex-flow: column;
  margin-top: 380px;
  margin-left: 128px;
  font-family: Roboto-Light;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.tabs-block__step3-label {
  font-family: Roboto-Light;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 13px;
}

.tabs-block__step3-label.from {
  margin-left: 6px;
}

input[type="checkbox"]:not(:checked) + label {
  font-family: Roboto-Light;
  font-style: normal;
  color: $inputColorLine;
  margin-left: 4px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #999999;
  width: 12px;
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top: 4px;
  right: 4px;
}

input[type="checkbox"]:checked {
  background-color: white;
  border: 1px solid #0ec261;
}

input[type="checkbox"]:checked + label {
  color: #121212;
  margin-left: 4px;
}

input[type="checkbox"]:checked:after {
  content: url(./../../img/Icons/Check.svg); //"\2714";
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 3px;
  color: $textColor;
}

.tabs-blok__step4 {
  display: flex;
  flex-direction: row;
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;
}

.tabs-blok__step4__total {
  display: grid;
  margin-left: 128px;
  margin-top: 32px;
  flex-direction: column;
}
.tabs-blok__step4__total__model {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $textColor;
}

.tabs-blok__step4__number {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $textColor;
  width: 94px;
  border-radius: 5px;
}
.tabs-block__step4__img {
  margin-left: 352px;
  margin-top: 32px;
  width: 256px;
  height: 116.36px;
}
.t {
  display: flex;
  flex-direction: row;
}
.tabs-block__step4__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
}
.tabs-block__step4__modal__button {
  display: flex;
  margin-top: 32px;
}
.tabs-block__step4__modal__button__ok {
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  width: 177px;
  height: 48px;
  margin-right: 8px;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
  color: #ffffff;
}
.tabs-block__step4__modal__button__cancel {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
  border-radius: 4px;
  width: 177px;
  height: 48px;
  color: #eeeeee;
  margin-left: 8px;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
  color: #ffffff;
}

//preloader
.loader__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgba(255, 255, 255, 0.9);
}
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #0ec261; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//preloader

@media screen and (max-width: $desktop_min) {
  .tabs-blok__step1__position__mapOrder {
    width: 500px;
    height: 250px;
  }
  .tabs-block__step2-item {
    width: 240px;
    height: 180px;
  }
  .tabs-block__step2-item__img {
    margin-top: 65px;
    margin-left: 50px;
    width: 180px;
    height: 106.36px;
  }
  .tabs-block__step4__img {
    margin-left: 90px;
    margin-top: 32px;
    width: 238px;
    height: 116.36px;
  }
}
@media screen and (max-width: $tablet) {
  .tabs-block__step2-box {
    margin-top: 60px;
    height: 30vh;
    position: absolute;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  .tabs-block__step3__date {
    top: 230px;
  }
  .tabs-block__step3__radio {
    top: 347px;
  }
  .tabs-block__step3__checkbox {
    margin-top: 310px;
  }
}
@media screen and (max-width: $mobile) {
  .tabs-blok__step1__position__city {
    left: 79px;
  }
  .tabs-blok__step1__position__point {
    left: 27px;
  }
  .tabs-blok__step1__position__mapOrder {
    left: 27px;
    width: 100vw;
    padding-right: 32px;
  }
  .css-152ugju-Control {
    margin-left: 130px;
  }
  .css-134y49l-Control {
    margin-left: 130px;
  }
  .tabs-blok__step1__position__map {
    left: 27px;
  }
  .tabs-block__step2__radio {
    left: 27px;
    top: 162px;
  }
  .tabs-block__step2-box {
    margin-top: 100px;
  }
  .tabs-block__step2-row {
    grid-template-columns: 1fr;
    margin-top: 0px;
    margin-left: 27px;
  }
  .tabs-block__step3__date {
    left: 27px;
  }
  .tabs-block__step3__radio {
    left: 27px;
  }
  .tabs-block__step3__checkbox {
    margin-left: 27px;
  }
  .tabs-blok__step4__total {
    margin-left: 27px;
  }
  .tabs-block__step4__img {
    margin-left: 27px;
    margin-top: 132px;
    position: absolute;
  }
}
@media screen and (max-width: $mobile_min) {
  .tabs-blok__step1__position__city {
    top: 175px;
  }
  .tabs-blok__step1__position__point {
    top: 205px;
  }
  .tabs-blok__step1__position__mapOrder {
    width: 100vw;
    padding-right: 32px;
  }
  .tabs-block__step2-box {
    margin-top: 50px;
  }
  .tabs-block__step3__checkbox {
    margin-top: 290px;
  }
}
