@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto'), url(./../../fonts/Roboto-Bold.ttf) format('truetype');
}
$lineColor: #EEEEEE;
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin-top: 96px;
  
  &__tab-list {
    border-bottom: 1px solid $lineColor;
    border-top: 1px solid $lineColor;
    margin: 0 0 10px;
    padding: 0;
    
    
  }

  &__tab {
    display: inline-block;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 6px;
    left: 122px;
    cursor: pointer;
    color: #999999;
    font-family: Roboto-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    &--selected {
      border-color: #aaa;
      color: #0EC261;
      border-radius: 5px 5px 0 0;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
