@import "./../../../styles/variables.scss";
.menu-admin{
  display: flex;
  width: 285px;
  height: 100vw;
  box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1), 0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
  flex-direction: column;
}
.menu-admin__logo{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 0px #E1E5EB;
  height: 67.5px;
  width: 285px;
  align-items: center;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.234375px;
  color: $admin_text;
  text-decoration: none;
}
.menu-admin__logo__svg{
  margin-left: 7px;
  margin-left: 77.5px;
}
.menu-admin__link{
  display: flex;
  box-shadow: inset 0px -1px 0px #E1E5EB;
  height: 57.5px;
  width: 285px;
  align-items: center;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.234375px;
  color: $admin_text;
  text-decoration: none;
}
