$mainAccent: #0EC261;
$locationColor: #999999;
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto'), url(./../../fonts/Roboto-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto'), url(./../../fonts/Roboto-Regular.ttf) format('truetype');
  }

.header__logo{
  position: absolute;
  width: 192px;
  height: 32px;
  left: 128px;
  top: 32px;
  color: $mainAccent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  white-space: nowrap;
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.header__location-map{
  position: absolute;
  width: 94px;
  height: 18px;
  left: 80%;
  top: 39px;
}
.header__location-text{
  position: absolute;
  width: 94px;
  height: 18px;
  left: 83%;
  top: 41px;
    
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $locationColor;
  }

@media screen and (max-width: 1439px) {
.header__logo{
  left: 97px;
}
}
@media screen and (max-width: 1023px) { 
.header__logo{
  width: 239px;
  height: 33px;
  left: 118px;
}
}
@media screen and (max-width: 767px) {
.header__logo{
  width: auto;
  left: 0px;
  right: 12px;
  text-align: end;
  top: 16px;
}
.header__location-map {
  width: auto;
  left: 0px;
  right: 90px;
  top: 60px;
  text-align: end;
  }
.header__location-text{
  width: auto;
  left: 0px;
  right: 12px;
  top: 63px;
  text-align: end;
  }
}