$color_copyrigth: #999999;
$color_phone: #121212;
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto'), url(./../../fonts/Roboto-Regular.ttf) format('truetype');
  }
.footer{
    
    // display: flex;
    // justify-content: flex-end;
    // width: 100%; 
    // align-items: flex-end;   
}
.footer__copyright{
    position: absolute;
    width: 173px;
    height: 16px;
    left: 128px;
    top: 763px;
    
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $color_copyrigth;
}
.footer__phone{
    position: absolute;
    width: 103px;
    height: 16px;
    left: 585px;
    top: 763px;
    
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $color_phone;
}
@media screen and (max-width: 1439px) {
    .footer__copyright{
        width: 192px;
        height: 12px;
        left: 97px;
        top: 763px;
}
    .footer__phone{
        width: 103px;
        height: 16px;
        left: 479px;
        top: 763px;
    }
}
@media screen and (max-width: 1023px) {
    .footer__copyright{
        width: 192px;
        height: 12px;
        left: 117px;
        top: 757px;
}
    .footer__phone{
        width: 103px;
        height: 16px;
        left: 629px;
        top: 757px;
    }
}
@media screen and (max-width: 767px) {
   
    .footer{
        // display: flex;
        // justify-content: flex-end;
        // width: 100%; 
        // align-items: flex-end;

        height: 72px;
        left: 0px;
        margin-top: 496px;

        background: #151B1F;    
    }
    .footer__copyright{
        width: 173px;
        height: 16px;
        left: 131px;
        top: 536px;
        color: #EEEEEE;
}
    .footer__phone{
        width: 103px;
        height: 16px;
        left: 201px;
        top: 512px;
        color: #0EC261;
    }
}
