@import "./../../../styles/variables.scss";

::-webkit-scrollbar {
  width: 8px;
  height: 1px;
  background-color: #ffffff;
  border-radius: 9px;
}
::-webkit-scrollbar-thumb {
  background-color: $admin_border_color;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.order-list-admin__box__info__order__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
label {
  font-family: Roboto-Regular;
  font-size: 13px;
}
.order-list-admin__box__info__order__details__container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.order-list-admin__box__info__order__details__text {
  display: flex;
  white-space: nowrap;
}
.order-list-admin__box__info__order__details__text__color {
  color: black;
}
.order-list-admin__box__info__order__checkbox {
  display: flex;
  flex-direction: column;
}
.order-list-admin__box__info__order__details__color {
  display: flex;
  white-space: nowrap;
}
.order-list-admin__box__info__order__price {
  display: flex;
  align-items: center;
  font-family: Roboto-Regular;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.754286px;
  width: 10%;
}

@media screen and (max-width: $desktop_min_1260) {
  .order-list-admin__box__info__order__details__container {
    flex-direction: column;
  }
  .order-list-admin__box__info__order__price {
    font-size: 18px;
  }
}
