@import "./../../../styles/variables.scss";
@import "./../MenuAdmin/MenuAdmin.scss";
.order-list-admin {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  background: $admin_background;
}
.order-list-admin__box {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 25px;
}
.order-list-admin__box__text {
  margin-bottom: 25px;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 33px;
  letter-spacing: -0.725px;
  color: $admin_text;
}
.order-list-admin__box__info {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 2px 0px rgba(90, 97, 105, 0.11),
    0px 4px 8px rgba(90, 97, 105, 0.12), 0px 10px 10px rgba(90, 97, 105, 0.06),
    0px 7px 70px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
  height: 386px;
}
.order-list-admin__box__info__selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
}
.order-list-admin__box__info__selection__dropdown {
  display: flex;
}
.order-list-admin__box__info__selection__button {
  background: $blue;
  border: 0.5px solid $blue;
  box-sizing: border-box;
  border-radius: 4px;
  width: 95px;
  height: 29px;
  margin-top: 15.5px;
}

@media screen and (max-width: $mobile) {
  .order-list-admin {
    flex-direction: column;
    overflow-y: scroll;
  }
  .order-list-admin__box {
    margin-left: 12px;
    margin-right: 12px;
  }
  .order-list-admin__box__text {
    margin-bottom: 0px;
    font-size: 23px;
    line-height: 33px;
  }
}
